.one{
    background: greenyellow;
    width: 100%;
    height: 300px;
    padding: 5px;
    margin: 10px;


    
}
.two{
    background: yellow;
    border: none;
    padding: 10px;
}
.na{
    text-align: center;
}
.four{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.five{
  font-size: 50px;  
}
.six{
    font-size: 50px; 
}
h1{
    font-family: 'Single Day', cursive;
}
.alif{
    width: fit-content;
    display: flex;
}
.baa{
    list-style-type: none;
    padding: 10px;
    width: fit-content; 
}
.taa{
    display: inline-block;
    padding: 10px;
}
.saa{
    width: fit-content;
    padding: 10px;  
}
.dall{
    background-color: rgb(26, 26, 59); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tull{
    padding: 10px;

}
.gimm{
    width: 20px;
    height: 20px;
}

.lam{
    display: inline-block; 
    width: fit-content;
    padding: 5px;  
    color: white;
}
.hamza{
    background: rgb(93, 192, 93);
    padding: 10px;
}