.one{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
}
.two{
    color: rgb(172, 95, 172);
    text-align: center;
    margin: 10px 0px;
}
.three{
    width: 10px;
    height: 10px;
}
.four{
    background: yellow;
    width: 300px;
    height: 40px;
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.na{
    padding-right: 50px;
    text-align: center;
}


.five{
    background: purple;
    width: 100%;
    height: 40px;
}
.six{
    color: red;
}
.seven{   
    width: fit-content;
    padding: 5px 5px 5px 5px; 
    height: 200px;

    border-top: 5px ridge purple;
    border-right: 5px ridge purple;
    border-left: 5px ridge purple;
    border-bottom: 40px ridge purple;

    outline: 1px;
    outline-style: none;
    outline-color: rgb(187, 31, 187);
}
.eight{
    background: yellow;
}
.nine{
    width: 250px;
    height: 270px;
    margin-left: 20px;
}
.ten{
    background: aliceblue;
    margin-left: 30px;
    padding: 10px;
    padding-right: 10px;
}
.eleven{
    background: yellow;
}
.twelve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.thir{
    padding: 5px 5px 5px 5px;
    width: 100%;
    background: white;
}
.fourteen{
    width: 30px;
    height: 30px; 
    margin-left: 30px;
    margin-top: 20px;  
}
.fifteen{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    text-align: justify;
}
.sisteen{
    background: yellow;
    padding: 10px;
}
.seventeen{
    
    border-top: 1px solid  black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    width: fit-content;
    margin-left: 360px;
}
.eighteen{
    width: 30px;
    height: 30px;
}

.twenty{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 165px;
}
.fourty{
    padding: 10px;
    margin: 10px 0px;
    background: rgb(128, 125, 125);
    color: white;
}

.fifty{
    border-left: 5px ridge yellow;
    margin: 10px;
}
.sixty{
    margin: 10px;
}
.seventy{
    font-size: 12px;
}
ul{
    color: blue;
}
.eighty{
    padding: 5px;
}
.alif{
    width: fit-content;
    display: flex;
}
.baa{
    list-style-type: none;
    padding: 10px;
    width: fit-content; 
}
.taa{
    display: inline-block;
    padding: 10px;
}
.saa{
    width: fit-content;
    padding: 10px;  
}
.dall{
    background-color: rgb(26, 26, 59); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tull{
    padding: 10px;

}
.gimm{
    width: 20px;
    height: 20px;
}

.lam{
    display: inline-block; 
    width: fit-content;
    padding: 5px;  
    color: white;
}
.hamza{
    background: rgb(93, 192, 93);
    padding: 10px;
}
